
<div class="footer">
	<div class="Copyright">
		©<%= new Date().getFullYear() %> By <%- theme.author %>. 主题：<a
			style="text-decoration: none;display: contents; color: #898F9F;"
			href="https://github.com/79e/hexo-theme-quiet">Quiet.</a>&nbsp;
<% if (theme.busuanzi && theme.busuanzi.enable){ %>
		<span id="busuanzi_container_site_uv">
		本站访客数<span id="busuanzi_value_site_uv"></span>人次
            <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
	
	</div>
	
	<div class="contact">
		<% theme.bottomIcon.forEach(item =>{%>
		<a href="<%= item.toUrl %>">
			<img src="<%= item.iconLink %>" alt="Quiet主题">
		</a>
		<% }) %>
		</span>
	</div>
</div>
<%- partial('_widget/gotop') %>
<%- partial('_widget/analytics')  %>


<script>
	console.log('\n %c Hexo-Quiet 主题 %c https://github.com/79e/hexo-theme-quiet \n', 'color: #fadfa3; background: #030307; padding:5px 0;', 'background: #fadfa3; padding:5px 0;')
</script>
